.modal {
  height: fit-content;
  max-height: 330px;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 36px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .modal {
    max-height: 322px;
    max-width: 282px;
  }
}
