.content-profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-profile__add-button {
    width: 120px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .content-profile__add-button {
    width: 100%;
    max-width: 282px;
    height: 50px;
  }

  .content-profile__add-button img {
    width: 16px;
    height: 16px;
  }
}
