* {
  margin: 0;
  padding: 0;
}

.page {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: white;
  background-color: #000000;
}

button {
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.6;
}
