.card {
  max-width: 280px;
  display: grid;
  grid-template-rows: 280px 80px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: all 0.3s;
  animation-duration: 1s;
  animation-name: addcard;
}

.card:hover {
  transform: scale(1.03);
}

@keyframes addcard {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
